{% extends 'page.html' %}

{% block content %}
<img alt="CoinGecko Logo" height="39px" class="darkhide"
     src="https://static.coingecko.com/s/coingecko-logo-8903d34ce19ca4be1c81f0db30e924154750d208683fad7ae6f2ce06c76d0a56.png">
<br>
<br>
<br>
<select id="language_select">
    <option value="en" selected="selected">English</option>
    <option value="es">Spanish</option>
    <option value="fr">French</option>
    <option value="ja">Japanese</option>
    <option value="ko">Korean</option>
    <option value="pt-br">Brazilian Portuguese</option>
    <option value="tr">Turkish</option>
    <option value="zh-cn">Simplified Chinese</option>
    <option value="zh-tw">Traditional Chinese</option>
</select>
<a href="/time">Time Api</a>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/C0vrVpFN_9o" title="ЕГО НЕ МЕНЯЮТ уже 15 МЕСЯЦЕВ| &quot;ДОМОЙ ХОЧУ, К ЖЕНЕ И ДЕТЯМ&quot; | МАРАФОН ИНТЕРВЬЮ с @VolodymyrZolkin  ​" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

{% endblock %}